/* *************************************************** */
/* botones  */
/* *************************************************** */
.btn-primario-outline,
.btn-primario-outline-blanco,
.btn-primario,
.btn-secundario,
.btn-secundario-outline {
    padding: 7px 30px 7px 30px;
    transition: 0.4s;
    border-radius: var(--border-radius-botones);
    margin-top: 10px;
}
 

/* *************************************************** */
/* boton primario azul */
/* *************************************************** */
.btn-primario {
    background-color: var(--color-primario);
    color: var(--color-blanco);
}
.btn-primario:hover {
    background-color: var(--color-negro);
    -webkit-box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
}
.btn-primario:focus {
    outline: none;
}


/* *************************************************** */
/* boton primario azul con borde  */
/* *************************************************** */
.btn-primario-outline {
    border: 1px solid var(--color-primario);
    background-color: transparent;
    color: var(--color-primario);
}
.btn-primario-outline:focus {
    outline: none;
}

.btn-primario-outline:hover {
    background-color: var(--color-primario);
    color: var(--color-blanco);
}



/* *************************************************** */
/* boton blanco con borde */
/* *************************************************** */
.btn-primario-outline-blanco {
    border: 1px solid var(--color-blanco);
    background-color: transparent;
    color: var(--color-blanco);
    font-weight: bold;
}

.btn-primario-outline-blanco:focus {
    outline: none;
}
.btn-primario-outline-blanco:hover {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-blanco);
    color: var(--color-negro);
}
 


/* *************************************************** */
/* boton dropdown  */
/* *************************************************** */
.dropdown {
    width: auto;
    position: relative;
}

.dropdown:hover .dropdown-list {
    position: absolute;
    z-index: 30;
    opacity: 1;
    visibility: visible;
}

.dropdown-select {
    padding: 10px;
    border-radius: 4px;
    background-color: var(--color-primario);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    cursor: pointer;
    color: var(--color-blanco);
}

.dropdown-list {
    border-radius: 4px;
    background-color: var(--color-blanco);
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 30;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    color: var(--color-primario);
    cursor: pointer;
    border: 1px solid var(--color-primario);
}

.dropdown-list-item {
    padding: 1rem;
    font-size: 14px;
}

.dropdown-list-item:hover {
    background-color: var(--color-primario);
    color: var(--color-blanco);
}
