.card {
    width: 100%;
    border-radius: 15px;
    border: 1px solid var(--color-blanco);
    transition: 0.25s;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 50px -27px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 50px -27px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 50px -27px rgba(0, 0, 0, 0.34);
    background-color: var(--color-blanco);
}
.card:hover {
}

.titulo-card {
    text-align: center;
    font-weight: bold;
}

.p-card {
    text-align: center;
    color: var(--color-gris);
}

.img-card-header {
    width: 100px;
    background-size: cover;
}

#card2 {
    border: 1px solid var(--color-primario);
}
