.cards {
    width: 100%;
    display: flex;
}

.card-img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card-img-hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 150px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}
.card-cursos {
    transition: all 0.7s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    flex: 1;
    margin: 0 10px;
    -webkit-box-shadow: 0px 0px 34px -25px rgba(0, 0, 0, 0.705);
    -moz-box-shadow: 0px 0px 34px -25px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 0px 34px -25px rgba(0, 0, 0, 0.705);

    /* box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid var(--color-primario); */
}

.card-cursos:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02, 1.02);
}

.card-info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card-category {
    font-size: 12px;
    font-weight: 500;
    color: #868686;
}

.card-title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.card-by {
    font-size: 12px;
    font-weight: 500;
}

.card-author {
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primario);
}

.rating {
    z-index: 20;
}

.icon-students {
    color: #747474;
}

@media screen and (max-width: 500px) {
    .card-info {
        padding: 5px 5px 10px 5px;
    }

    .boton-curso {
        display: none;
    }

    .card-img {
        visibility: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 80px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .card-img-hover {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 80px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        top: 0;
    }
}
