@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("/fonts/RadioGrotesk-Regular.otf");
@import url("botones.css");
@import url("cards-cursos.css");
@import url("titulos.css");
@import url("cards-contenido.css");
@import url("footer.css");

/* KGBlankSpaceSolid.ttf */

@font-face {
    font-family: radioGrotesk;
    src: url("/fonts/RadioGrotesk-Regular.otf");
}

@font-face {
    font-family: kgBlankSpaceSolid;
    src: url("/fonts/KGBlankSpaceSolid.ttf");
}

:root {
    /* colores  */
    --color-blanco-fondo: #f7f8fc;
    --color-primario: #1da1f2;
    --color-negro: #22292f;
    --color-negro-primario: #151515;
    /* color botones secundarios  */
    --color-blanco-primario: #f4f4f4;
    --color-blanco-secundario: #e8e8e8;
    --color-gris-fondo: #f6f6f6;
    --color-gris: #9da9b2;
    --color-blanco: #fff;

    /* tamaños  */
    --texto-portada: 70px;
    --texto-titulos-secciones: 50px;

    /* bordes  */
    --border-radius-botones: 5px;
    --border-radius-enlaces: 50px;

    scroll-behavior: smooth;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Poppins", sans-serif;
}

*::selection {
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

/* compartidos  */
.seccion {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* secciones  */

/* PORTADA HOME */
.portada-home {
    background-image: url("/images/home/portada-home.png");
    background-size: cover;
    background-position-y: 60%;
    /* background: linear-gradient(to bottom right, #003A99, #0E77E2); */
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

.portada-home::before {
    content: "";
    background: linear-gradient(transparent, var(--color-primario));
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0.8;
}

/* PORTADA CURSOS  */
.portada-cursos {
    background-image: url("/images/cursos/portada-cursos.jpg");
    background-size: cover;
    background-position-y: 60%;
    /* background: linear-gradient(to bottom right, #003A99, #0E77E2); */
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

.portada-cursos::before {
    content: "";
    background: linear-gradient(transparent, var(--color-primario));
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0.8;
}

/* PORTADA BLOGS  */
.portada-blogs {
    background-image: url("/images/home/contenido-acceso-gratis.jpg");
    background-size: cover;
    background-position-y: 60%;
    /* background: linear-gradient(to bottom right, #003A99, #0E77E2); */
    overflow-x: hidden;
    overflow-y: hidden;
    height: 60vh;
    position: relative;
    background-attachment: fixed;
}

.portada-blogs::before {
    content: "";
    background: linear-gradient(transparent, var(--color-primario));
    width: 100%;
    height: 60vh;
    position: absolute;
    opacity: 0.8;
}

.ul-busquedas {
    width: auto;
    float: left;
    margin-top: 8px;
}

.li-busquedas {
    display: inline-block;
    padding: 15px 5px;
}

.a-busquedas {
    text-decoration: none;
    text-align: center;
    color: var(--color-blanco);
    border: 1px solid transparent;
    padding: 0 15px 0 15px;
    font-size: 14px;
    border: 1px solid var(--color-blanco);
    border-radius: var(--border-radius-enlaces);
    transition: 0.25s;
}

.a-busquedas:hover {
    border: 1px solid var(--color-blanco);
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

.seccion-conteiner {
    position: relative;
    min-height: 80vh;
}

/* secion empezar */
.seccion-empezar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70vh;
}

.seccion-empezar .contenido-empezar {
    display: block;
    text-align: center;
}

.seccion-alumnos-instructores {
    background-image: url("/images/home/contenido-instructores.jpg");
    background-size: cover;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    /* margin: 50px 0 100px 0; */
}

.seccion-alumnos-instructores .contenido-alumnos {
    display: block;
    text-align: center;
}

.seccion-numeros {
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.puntos-derecha {
    position: absolute;
    width: 200px;
    right: 100px;
    bottom: 150px;
    opacity: 0.2;
}

.puntos-izquierda {
    position: absolute;
    width: 200px;
    left: 100px;
    top: 150px;
    opacity: 0.2;
}

.container-num {
    position: absolute;
    z-index: 10;
    width: 80%;
    padding: 0 0 30px 0;
    background-color: var(--color-blanco);
    box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.118);
    border-radius: 10px;
}

.numeros-estadisticas {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.numeros-estadisticas > .item {
    text-align: center;
    padding: 20px 0;
}

/* navbar  */
.navbar-jet {
    position: fixed;
    z-index: 999;
}

/* ilustraciones  */
.ilustracion-h {
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 600px;
    transition: 0.5s;
}
.ilustracion-h:hover {
    filter: grayscale(100%);
}
.ilustracion-manos-enseñar {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 600px;
    transition: 0.5s;
}
.ilustracion-manos-enseñar:hover {
    filter: grayscale(100%);
}

.ilustracion-camino {
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
    transition: 0.5s;
}
.ilustracion-camino:hover {
    filter: grayscale(100%);
}

.ilustracion-planeta {
    position: absolute;
    top: 13%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 300px;
    transition: 0.5s;
    opacity: 80%;
}

.svg-index {
    top: 0;
    z-index: 3;
    position: absolute;
}

/* seccion cual curso ver  */

.contenedor-fondo-animado {
    display: block;
    height: 50vh;
    background: linear-gradient(var(--color-primario), var(--color-primario));
    color: #fff;
    position: relative;
    overflow: hidden;
}
.seccion-contenido {
    display: flex;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
}
.contenido {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
    z-index: 20;
}

.animacion {
    z-index: 1;
    opacity: 50%;
}
span.cuatro,
span.dos,
span.tres,
span.uno {
    border: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    animation: vuela 7s linear infinite normal both;
}
span.uno {
    width: 100px;
    height: 100px;
    background-color: #1388d1;
    bottom: -100px;
}
span.dos {
    width: 70px;
    height: 70px;
    background-color: var(--color-negro);
    bottom: -70px;
}
span.tres {
    width: 50px;
    height: 50px;
    background-color: #2681b9;
    bottom: -50px;
}
span.cuatro {
    width: 20px;
    height: 20px;
    background-color: #67f3d4;
    bottom: -20px;
}

.animacion span:nth-child(1) {
    left: 20%;
    animation-delay: 3s;
}
.animacion span:nth-child(2) {
    left: 50%;
}
.animacion span:nth-child(3) {
    left: 35%;
    animation-delay: 5s;
}
.animacion span:nth-child(4) {
    left: 75%;
    animation-delay: 1s;
}
.animacion span:nth-child(6) {
    left: 85%;
    animation-delay: 3s;
}
.animacion span:nth-child(7) {
    left: 90%;
    animation-delay: 5s;
}
.animacion span:nth-child(8) {
    left: 65%;
}
.animacion span:nth-child(9) {
    left: 60%;
}
.animacion span:nth-child(10) {
    left: 75%;
    animation-delay: 6s;
}
.animacion span:nth-child(11) {
    left: 10%;
}
.animacion span:nth-child(12) {
    left: 45%;
    animation-delay: 3s;
}

/* footer  */
.bottom center {
    padding: 5px;
    font-size: 14px;
    background: var(--color-negro);
}
.bottom center span {
    color: #656565;
}
.bottom center a {
    color: var(--color-blanco);
    text-decoration: none;
}
.bottom center a:hover {
    color: var(--color-primario);
}

.filtros {
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}

@keyframes vuela {
    from {
        transform: rotate(0deg);
        bottom: 0;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    to {
        transform: rotate(360deg);
        bottom: calc(100% + 100px);
        opacity: 0;
    }
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}

@media screen and (max-width: 500px) {
    .puntos-derecha {
        width: 150px;
        right: 0px;
        bottom: 0px;
        opacity: 0.2;
    }

    .puntos-izquierda {
        position: absolute;
        width: 150px;
        left: 0px;
        top: 0px;
        opacity: 0.2;
    }

    .filtros {
        overflow-y: hidden;
        overflow-x: scroll;
    }
}
