@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: radioGrotesk;
    src: url("/fonts/RadioGrotesk-Regular.otf");
}

@font-face {
    font-family: kgBlankSpaceSolid;
    src: url("/fonts/KGBlankSpaceSolid.ttf");
}

:root {
    /* colores  */
    --color-blanco-fondo: #f7f8fc;
    --color-primario: #8B5CF6;
    --color-negro: #22292f;
    /* color botones secundarios  */
    --color-blanco-primario: #f4f4f4;
    --color-blanco-secundario: #e8e8e8;
    --color-gris-fondo: #f6f6f6;
    --color-gris: #9da9b2;
    --color-blanco: #fff;

    /* tamaños  */
    --texto-portada: 100px;
    --texto-titulos-secciones: 50px;

    /* bordes  */
    --border-radius-botones: 5px;
    --border-radius-enlaces: 50px;

    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.container-register {
    position: relative;
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.sign-up-form {
    opacity: 0;
    z-index: 1;
}

form.sign-in-form {
    z-index: 2;
}

.title {
    font-size: 2.2rem;
    color: var(--color-negro);
    margin-bottom: 10px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: var(--border-radius-botones);
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.error-login {
    color: #ef4444;
    font-weight: bold;
}

.btn {
    max-width: 380px;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    background-color: var(--color-primario);
    border: none;
    outline: none;
    color: var(--color-blanco);
    padding: 15px 30px 15px 30px;
    transition: 0.4s;
    border-radius: var(--border-radius-botones);
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #5345af;
}
.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: url("/images/home/contenido-acceso-gratis.jpg");
    background-size: cover;
    background-position-x: 10%;
    transition: 1.8s ease-in-out;
    z-index: 6;
}

.container-register:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: url("/images/home/contenido-instructores.jpg");
    background-size: cover;
    background-position-x: 0;
    transition: 1.8s ease-in-out;
    z-index: 6;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

.btn-transparent {
    background: none;
    border: 1px solid var(--color-blanco);
    width: 130px;
    height: 41px;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-blanco);
    transition: 0.4s;
    border-radius: var(--border-radius-botones);
    margin: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.btn-transparent:hover {
    background-color: var(--color-blanco-primario);
    color: var(--color-negro);
}

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }
    .container-register {
        min-height: 800px;
        height: 100vh;
    }
    .signin-signup {
        width: 100%;
        top: 60%;
        transform: translate(-50%, -50%);
    }

    .signin-signup,
    .container.sign-up-mode .signin-signup {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn-transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .container-register:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .panel .content {
        padding: 0.5rem 1rem;
    }
    .container {
        padding: 1.5rem;
    }
    .container:before {
        bottom: 72%;
        left: 50%;
    }
    .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }

    .container-register {
        padding: 1.5rem;
    }

    .container-register:before {
        bottom: 72%;
        left: 50%;
    }
    .container-register.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}
