@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("/fonts/RadioGrotesk-Regular.otf");

/* KGBlankSpaceSolid.ttf */

@font-face {
    font-family: radioGrotesk;
    src: url("/fonts/RadioGrotesk-Regular.otf");
}

@font-face {
    font-family: kgBlankSpaceSolid;
    src: url("/fonts/KGBlankSpaceSolid.ttf");
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Poppins", sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

.body {
    background-color: #fff;
}

:root {
    --color-primario: #0c27d1;
    --color-blanco: #fff;
    --color-negro: #212033;

    --texto-portada: 100px;
    --texto-titulos-secciones: 50px;

    scroll-behavior: smooth;
}

/* compartidos  */
.seccion {
    position: relative;
    height: 100vh;
}

/* secciones  */
.portada-home {
    /* background-image: url('/images/home/portada-home-cursos.jpg'); */
    background-color: var(--color-blanco);
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* titulos  */
/* portada  */
.h1-titulo-home {
    font-weight: bold;
    font-size: var(--texto-portada);
    color: var(--color-negro);
    line-height: 80%;
}
.p-subtitulo-home {
    margin-top: 20px;
    color: var(--color-negro);
}
.span {
    color: var(--color-primario);
    font-weight: bold;
}
.text-home {
    position: relative;
    z-index: 100;
}

.p-typing {
    font-size: 14px;
}

/* titulos seccion enseñar */
.titulos-enseñar {
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.h1-titulo-enseñar {
    font-size: var(--texto-titulos-secciones);
    color: var(--color-negro);
    line-height: 80%;
    font-weight: bold;
}

.titulos-camino-enseñanza {
    position: relative;
    z-index: 100;
}
.h1-titulo-enseñar {
    font-size: var(--texto-titulos-secciones);
    color: var(--color-negro);
    line-height: 80%;
    font-weight: bold;
}

.titulo-cursos-home {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-negro);
    line-height: 80%;
}

/* botones  */
.btn-buscar-home {
    margin-top: 20px;
    border: 1px solid var(--color-primario);
    background-color: #0c27d1;
    color: var(--color-blanco);
    padding: 7px;
    transition: 0.25s;
    border-radius: 5px;
}

.btn-buscar-home:hover {
    background-color: var(--color-negro);
    border: 1px solid var(--color-negro);
}

.btn-principal-outline {
    margin-top: 20px;
    border: 1px solid var(--color-primario);
    background-color: transparent;
    color: var(--color-primario);
    padding: 7px 15px 7px 15px;
    transition: 0.4s;
    border-radius: 50px;
}
.btn-principal-outline:focus {
    outline: none;
}

.btn-principal-outline:hover {
    background-color: var(--color-primario);
    border: 1px solid var(--color-blanco);
    color: var(--color-blanco);
}

.btn-principal-outline-blanco {
    margin-top: 20px;
    border: 1px solid var(--color-blanco);
    background-color: transparent;
    color: var(--color-blanco);
    padding: 7px 15px 7px 15px;
    transition: 0.4s;
    border-radius: 50px;
    font-weight: bold;
}

.btn-principal-outline-blanco:focus {
    outline: none;
}
.btn-principal-outline-blanco:hover {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-blanco);
    color: var(--color-negro);
}

.btn-ver-curso {
    border: 1px solid var(--color-primario);
    background-color: transparent;
    color: var(--color-primario);
    padding: 7px 15px 7px 15px;
    transition: 0.4s;
    border-radius: 50px;
    z-index: 20;
}

.btn-ver-curso:focus {
    outline: none;
}
.btn-ver-curso:hover {
    background-color: var(--color-negro);
    border: 1px solid var(--color-negro);
    color: var(--color-blanco);
}

/* navbar  */
.navbar-jet {
    position: fixed;
    z-index: 999;
}

/* ilustraciones  */
.ilustracion-h {
    z-index: 1;
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 600px;
    transition: 0.5s;
}
.ilustracion-h:hover {
    filter: grayscale(100%);
}
.ilustracion-manos-enseñar {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 600px;
    transition: 0.5s;
}
.ilustracion-manos-enseñar:hover {
    filter: grayscale(100%);
}

.ilustracion-camino {
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 500px;
    transition: 0.5s;
}
.ilustracion-camino:hover {
    filter: grayscale(100%);
}

.ilustracion-planeta {
    position: absolute;
    top: 13%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 300px;
    transition: 0.5s;
    opacity: 80%;
}

.svg-index {
    top: 0;
    z-index: 3;
    position: absolute;
}

/* cards  */

/* .cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 820px;
} */

.cards {
    width: 100%;
    display: flex;
}

.card-like {
    width: 18px;
}

.card-clock {
    width: 15px;
    vertical-align: middle;
    fill: #ad7d52;
}
.card-time {
    font-size: 12px;
    color: #ad7d52;
    vertical-align: middle;
    margin-left: 5px;
}

.card-clock-info {
    float: right;
}

.card-img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card-img-hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
}
.card-cursos {
    margin-right: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 34px -25px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 0px 0px 34px -25px rgba(0, 0, 0, 0.61);
    box-shadow: 0px 0px 34px -25px rgba(0, 0, 0, 0.61);

    /* box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid var(--color-primario); */
}

.card-cursos:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}

.card-info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card-category {
    font-size: 12px;
    font-weight: 500;
    color: #868686;
}

.card-title {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-by {
    font-size: 12px;
    font-weight: 500;
}

.card-author {
    font-weight: 600;
    text-decoration: none;
    color: var(--color-primario);
}

.card-cursos:hover .card-img-hover {
    height: 100%;
    opacity: 0.3;
}

.card-cursos:hover .card-info {
    background-color: transparent;
    position: relative;
}

.card-cursos:hover .card-info-hover {
    opacity: 1;
}

.rating {
    z-index: 20;
}

.icon-students {
    color: #747474;
}

/* seccion cual curso ver  */

.contenedor-fondo-animado {
    display: block;
    height: 50vh;
    background: linear-gradient(var(--color-primario), var(--color-negro));
    color: #fff;
    position: relative;
    overflow: hidden;
}
.seccion-contenido {
    display: flex;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
}
.seccion-contenido {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
    z-index: 20;
}

.animacion {
    z-index: 1;
    opacity: 50%;
}
span.cuatro,
span.dos,
span.tres,
span.uno {
    border: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    animation: vuela 7s linear infinite normal both;
}
span.uno {
    width: 100px;
    height: 100px;
    background-color: var(--color-primario);
    bottom: -100px;
}
span.dos {
    width: 70px;
    height: 70px;
    background-color: var(--color-negro);
    bottom: -70px;
}
span.tres {
    width: 50px;
    height: 50px;
    background-color: var(--color-primario);
    bottom: -50px;
}
span.cuatro {
    width: 20px;
    height: 20px;
    background-color: #67f3d4;
    bottom: -20px;
}

.animacion span:nth-child(1) {
    left: 20%;
    animation-delay: 3s;
}
.animacion span:nth-child(2) {
    left: 50%;
}
.animacion span:nth-child(3) {
    left: 35%;
    animation-delay: 5s;
}
.animacion span:nth-child(4) {
    left: 75%;
    animation-delay: 1s;
}
.animacion span:nth-child(6) {
    left: 85%;
    animation-delay: 3s;
}
.animacion span:nth-child(7) {
    left: 90%;
    animation-delay: 5s;
}
.animacion span:nth-child(8) {
    left: 65%;
}
.animacion span:nth-child(9) {
    left: 60%;
}
.animacion span:nth-child(10) {
    left: 75%;
    animation-delay: 6s;
}
.animacion span:nth-child(11) {
    left: 10%;
}
.animacion span:nth-child(12) {
    left: 45%;
    animation-delay: 3s;
}

/* footer  */
.bottom center {
    padding: 5px;
    font-size: 14px;
    background: #151515;
}
.bottom center span {
    color: #656565;
}
.bottom center a {
    color: var(--color-blanco);
    text-decoration: none;
}
.bottom center a:hover {
    color: var(--color-primario);
}

/* keyframes  */
@keyframes vuela {
    from {
        transform: rotate(0deg);
        bottom: 0;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    to {
        transform: rotate(360deg);
        bottom: calc(100% + 100px);
        opacity: 0;
    }
}

/* medias  */
@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}
