.container {
	max-width: 1170px;
	margin: auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}
ul {
	list-style: none;
}
.footer {
	background-color: var(--color-blanco-fondo);
	padding: 70px 0;
}
.footer-col {
	width: 25%;
	padding: 0 15px;
}
.footer-col h4 {
	font-size: 18px;
	color: var(--color-primario);
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: bold;
	position: relative;
}
.footer-col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: var(--color-primario);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-size: 12px;
	text-decoration: none;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover {
	color: var(--color-primario);
	padding-left: 8px;
	font-weight: bold;
}

.footer-col ul li a i{
	color: var(--color-primario);
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: var(--color-primario);
	transition: all 0.25s ease;
	margin-top: 10px;
}
.footer-col .social-links a{
	border: 1px solid var(--color-primario);
}
.footer-col .social-links a:hover {
	color: var(--color-blanco);
	border: 1px solid var(--color-primario);
}
 
.footer-col .social-links .fb:hover {
	background-color: #0178f8;
	border: 1px solid #0178f8;

}
.footer-col .social-links .ig:hover {
	background: linear-gradient(#ed5847, #df2f73);
	border: 1px solid#ed5847;

}
.footer-col .social-links .tw:hover {
	background-color: #00a2f5;
	border: 1px solid #00a2f5;

}
.footer-col .social-links .li:hover {
	background-color: #007bb6;
	border: 1px solid #007bb6;

}

.logo-footer {
	width: 100px;
}
.logo-footer:hover {
	cursor: pointer;
}

.bottom center {
	padding: 5px;
	font-size: 14px;
	background: var(--color-blanco-fondo);
	margin-bottom: 10px;
}
.bottom center span {
	font-size: 12px;
}
.bottom center a {
	color: var(--color-primario);
	text-decoration: none;
}
.bottom center a:hover {
	color: var(--color-primario);
}

/*responsive*/
@media (max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}
@media (max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}
