/* *************************************************** */
/* secion empezar */
/* *************************************************** */
.seccion-empezar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 70vh;
}

.seccion-empezar .contenido-empezar {
    display: block;
    text-align: center;
}
