/* *************************************************** */
/* anuncios  */
/* *************************************************** */
.anuncio {
    width: 100%;
    margin-top: 15rem;
    /* height: 50vh; */
    position: relative;
}
.anuncio .container-anuncio {
    background-color: var(--color-primario);
    height: 50vh;
    width: 100%;
    position: relative;
}
.anuncio .container-anuncio .content-anuncio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    left: 10%;
}

.img-anuncio {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 5%;
    width: 450px;
}

@media screen and (max-width: 1020px) {
    .img-anuncio {
        position: absolute;
        z-index: 1;
    }
}

@media screen and (max-width: 638px) {
    .img-anuncio {
        position: absolute;
        z-index: 1;
        width: 200px;
    }
    .anuncio .container-anuncio .content-anuncio {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }
}
