/* *************************************************** */
/* seccion comentarios  */
/* *************************************************** */
.seccion-comentarios {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background-color: var(--color-blanco-fondo);
}

.img-comentarios {
    width: 100%;
}

.formas-colors {
    width: 200px;
    position: absolute;
    bottom: 10%;
    right: 0;
    opacity: 0.2;
}


.seccion-teach {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}