/* seccion portada  */
.h1-titulo-home {
    font-weight: bold;
    font-size: var(--texto-portada);
    color: var(--color-blanco);
    line-height: 75%;
}
.p-subtitulo-home {
    margin-top: 20px;
    color: var(--color-blanco);
}
.span {
    color: var(--color-negro);
    font-weight: bold;
}
.text-home {
    position: relative;
    z-index: 10;
}

.p-typing {
    font-size: 14px;
    color: var(--color-blanco);
}

/* seccion enseñar */
.titulos-enseñar {
    position: absolute;
    top: 35%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.h1-titulo-enseñar {
    font-size: var(--texto-titulos-secciones);
    color: var(--color-negro);
    line-height: 80%;
    font-weight: bold;
}

.h1-titulo-enseñar {
    font-size: var(--texto-titulos-secciones);
    color: var(--color-negro);
    line-height: 80%;
    font-weight: bold;
}

.titulo-cursos-home {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-negro);
    line-height: 80%;
}

/* seccion numeros plataforma  */
.titulo-numeros {
    font-size: 20px;
    font-weight: bold;
}
.span-numeros {
    color: var(--color-primario);
}
.titulos-numeros {
    color: var(--color-primario);
    font-weight: bold;
    font-size: 50px;
}
.descripcion-numeros {
    font-size: 12px;
    color: var(--color-gris);
}

/* seccion alumnos instructores  */

.seccion-alumnos-instructores .contenido-alumnos .titulo-alumnos-instructores {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-negro);
    margin-top: 10%;
    line-height: 90%;

}

/* seccion empezar  */

.seccion-empezar .contenido-empezar .titulo-empezar {
    font-size: 40px;
    font-weight: bold;
    line-height: 90%;
}
